{% extends "base.html" %}
{% load staticfiles %}

{% load votainteligente_extras %}
{% include 'elections/home.js' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="ups fondo-blanco">
            <h2><i class="icon-warning-sign icon-2x"></i><br></h2>
            <h2>Lo sentimos, esta página ya no existe. <p>Comienza de nuevo desde el <a href="/">home.</a></p></h2>
            <h3>Quizás es una página de algún sitio anterior:</h3>
            <ul>
                <li><a href="http://elecciones2015.yoquierosaber.org{{request.get_full_path|cut:"/es-ar"}}">Elecciones 2015 </a></li>
                <li><a href="http://elecciones2011.yoquierosaber.org">Elecciones 2011 </a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
