<!DOCTYPE html>
{% load staticfiles %}
{% load flatpages %}
{% load i18n %}
{% load votainteligente_extras %}
{% load yqs_extras %}
<html prefix="og: http://ogp.me/ns/{{ 'type'|ogpdata }}#">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Vota Inteligente" %} {% block title %}- {{ 'home_title'|website_gs }}{% endblock title %}</title>
    <meta name="author" content="{{ 'author'|metadata }}">
    <meta name="description" content="{% block description %}{{ 'description'|metadata }}{% endblock description %}">
    <meta name="keywords" content="{{ 'keywords'|metadata }}{% block keywords %}{% endblock keywords %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="{{ 'gsite-verification'|ga }}">

    <!--for facebook fans-->
    <meta property="og:type" content="{{ 'type'|ogpdata }}">
    <meta property="og:url" content="{{ 'url'|ogpdata }}">
    <meta property="og:image" content="{% static 'image'|ogpdata %}">
    <!--eoff-->

    <link rel="shortcut icon" sizes="196x196" href="{% static 'img/favicon.6fb2111c9430.ico' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.976c73215044.png' %}"/>

    <!-- Browser out of date -->
    <script type="text/javascript">
    var $buoop = {}
    $buoop.ol = window.onload;
    window.onload=function(){
     try {if ($buoop.ol) $buoop.ol();}catch (e) {}
     var e = document.createElement("script");
     e.setAttribute("type", "text/javascript");
     e.setAttribute("src", "http://browser-update.org/update.js");
     document.body.appendChild(e);
    }
    </script>
    <script type="text/javascript">
    elections_json = {% elections_json %};
    {% get_current_language as LANGUAGE_CODE %}
    var lang = "{{ LANGUAGE_CODE }}";
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/yqs.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  </head>
  <body data-ng-app="votainteligente">
    <header>
      <div class="hLogo"><a href="http://www.vozdeguanacaste.com"><img src="{% static 'img/lvdg-logo.png' %}" class='imgHeader'></a></div>
      <ul class="list-inline" id="headermenu">
        <li class="election-link selected">
          <a href="/{{ LANGUAGE_CODE }}">{% trans "Inicio" %}</a>
        </li>
        <li class="election-link election-link-template">
          <a href="#"></a>
        </li>
      </ul>
      <ul class="list-inline" id="langmenu">
        <li>{% trans "Lenguajes" %}</li>
        <li class="lang-link">
          <a href="/es">Español</a>
        </li>
        <li class="lang-link">
          <a href="/en">English</a>
        </li>
      </ul>
    </header>
      <div id="wrapper">
        <div class="container">
          {% block content %}
          {% endblock content %}
          {% block juego %}
          {% endblock %}
        </div>
      </div>
      <div class="share-sidebar">
      <p class="share-title">Compartir</p>
      <div data-social-share-privacy="true" data-order="facebook fbshare mail twitter gplus"  data-options='{
              "language" : "{{ LANGUAGE_CODE }}",
          }'></div>
      </div>

      <footer class="footer">
				<div class="about">
          <div class="footer__bylines">
            <h4>{% trans "Hecho por" %}</h4>
            <p>
              <a href="http://fcabierto.org"><img src="/static/img/logo-fca.png" width="172" height="51" alt="Fundación ConocimientoAbierto"></a>
            </p>
          </div>

				</div>
      </footer>
      <a href="#0" class="cd-top">{% trans "Subir" %}</a>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script>
      window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')
      </script>

      <script src="{% static 'js/jquery.expander.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>

      <script src="{% static 'SocialSharePrivacy/javascripts/jquery.cookies.js' %}"></script>
      <script type="application/x-social-share-privacy-settings">{"path_prefix":"{% static 'SocialSharePrivacy/' %}","layout":"box","services":{"buffer":{"status":false},"delicious":{"status":false},"disqus":{"status":false},"facebook":{"status":false},"flattr":{"status":false},"hackernews":{"status":false},"linkedin":{"status":false},"pinterest":{"status":false},"reddit":{"status":false},"stumbleupon":{"status":false},"tumblr":{"status":false},"xing":{"status":false}}}</script>
      <script type="text/javascript">(function () {var s = document.createElement('script');var t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;s.src = "{% static 'SocialSharePrivacy/javascripts/jquery.socialshareprivacy.min.autoload.js' %}";t.parentNode.insertBefore(s, t);})();</script>

      <script src="{% static 'js/argentina-theme.js' %}"></script>
      <script type="text/javascript">
      {% block extrajs %}
      {% endblock extrajs %}
      </script>

      {% block extrascripts %}
      {% endblock extrascripts %}


      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script>
      window.bootstrap || document.write('<script src="{% static 'js/vendor/bootstrap.min.js' %} "><\/script>')
      </script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js" type="text/javascript"></script>
      <script>
      window.chosen || document.write('<script src="{% static 'js/vendor/chosen.jquery.min.js' %}"><\/script>')
      </script>


      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ 'code'|ga }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

    </body>
</html>
